html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#grid-container{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer{
    
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 80%;
}

.cell{
    width: 30%;
    height: 33%;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.btn-container{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    width: 20%;
    height: 50%;
    align-items:center;
    justify-content: space-between;
}

.grid-btn{
    background-color: greenyellow;
    border-radius: 10px;
    border: 1px solid blueviolet;
    font-size: larger;

    width: 30%;
    height: 60px;
}

.grid-btn:hover{
    background-color: rgb(15, 177, 15);
}

.grid-btn:active{
    background-color: rgb(15, 177, 15);
    box-shadow: 0 5px #666;
    transform: translateX(2px);
}

#clear{
    color: white;
}

#vsAI{
    color: rgb(145, 25, 25)
}

#twoPlayers{
    color: rgb(20, 112, 20)
}